{% load static %}


<html><head>
	<title>Ernesto Cobos</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link href="{% static "cobos.css" %}" rel="stylesheet" type="text/css" />
	<link id="theme-style" rel="stylesheet" type="text/css" href="{% static "cobos.css" %}">
<body>
        {% block content %}

        {% endblock content %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176164633-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-176164633-1');
        </script>
        <script src="{% static "particles.min.js" %}"></script>
        <script>
            particlesJS.load('particles', '{% static "particles.json" %}');
        </script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
              var lazyloadImages;

              if ("IntersectionObserver" in window) {
                lazyloadImages = document.querySelectorAll(".lazy");
                var imageObserver = new IntersectionObserver(function(entries, observer) {
                  entries.forEach(function(entry) {
                    if (entry.isIntersecting) {
                      var image = entry.target;
                      image.src = image.dataset.src;
                      image.classList.remove("lazy");
                      imageObserver.unobserve(image);
                    }
                  });
                });

                lazyloadImages.forEach(function(image) {
                  imageObserver.observe(image);
                });
              } else {
                var lazyloadThrottleTimeout;
                lazyloadImages = document.querySelectorAll(".lazy");

                function lazyload () {
                  if(lazyloadThrottleTimeout) {
                    clearTimeout(lazyloadThrottleTimeout);
                  }

                  lazyloadThrottleTimeout = setTimeout(function() {
                    var scrollTop = window.pageYOffset;
                    lazyloadImages.forEach(function(img) {
                        if(img.offsetTop < (window.innerHeight + scrollTop)) {
                          img.src = img.dataset.src;
                          img.classList.remove('lazy');
                        }
                    });
                    if(lazyloadImages.length == 0) {
                      document.removeEventListener("scroll", lazyload);
                      window.removeEventListener("resize", lazyload);
                      window.removeEventListener("orientationChange", lazyload);
                    }
                  }, 20);
                }

                document.addEventListener("scroll", lazyload);
                window.addEventListener("resize", lazyload);
                window.addEventListener("orientationChange", lazyload);
              }
            })
        </script>
    </body>
</html>
