{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hi! I'm Ernesto Cobos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="{{ seo.title|default_if_none:" " }}">
    <meta name="description" content="{{ seo.description|default_if_none:" " }}">
    <meta name="keywords" content="{{ seo.keywords|default_if_none:" " }}">
    <meta name="robots" content="index, follow" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri|default_if_none:"" }}">
    <meta property="og:title" content="{{ seo.title|default_if_none:" " }}">
    <meta property="og:description" content="{{ seo.description|default_if_none:" " }}">
    <meta property="og:image" content="{{ seo.image.url|default_if_none:" " }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{request.build_absolute_uri|default_if_none:" " }}">
    <meta property="twitter:title" content="{{ seo.title }}">
    <meta property="twitter:description" content="{{ seo.description|default_if_none:" " }}">
    <meta property="twitter:image" content="{{ seo.image.url|default_if_none:" " }}">
    <meta name="twitter:site" content="@cobosxyz">
    <meta name="twitter:creator" content="@cobosxyz">

    <link id="theme-style" rel="stylesheet" type="text/css" href="{% static "cobos.css" %}">

    <link rel="prefetch" href="https://www.google-analytics.com"/>
    <link rel="prefetch" href="https://prod-cobos-io.s3.amazonaws.com"/>
</head>
<body>
        {% block content %}

        {% endblock content %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176164633-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-176164633-1');
        </script>
        <script src="{% static "particles.min.js" %}"></script>
        <script>
            particlesJS.load('particles', '{% static "particles.json" %}');
        </script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
              var lazyloadImages;

              if ("IntersectionObserver" in window) {
                lazyloadImages = document.querySelectorAll(".lazy");
                var imageObserver = new IntersectionObserver(function(entries, observer) {
                  entries.forEach(function(entry) {
                    if (entry.isIntersecting) {
                      var image = entry.target;
                      image.src = image.dataset.src;
                      image.classList.remove("lazy");
                      imageObserver.unobserve(image);
                    }
                  });
                });

                lazyloadImages.forEach(function(image) {
                  imageObserver.observe(image);
                });
              } else {
                var lazyloadThrottleTimeout;
                lazyloadImages = document.querySelectorAll(".lazy");

                function lazyload () {
                  if(lazyloadThrottleTimeout) {
                    clearTimeout(lazyloadThrottleTimeout);
                  }

                  lazyloadThrottleTimeout = setTimeout(function() {
                    var scrollTop = window.pageYOffset;
                    lazyloadImages.forEach(function(img) {
                        if(img.offsetTop < (window.innerHeight + scrollTop)) {
                          img.src = img.dataset.src;
                          img.classList.remove('lazy');
                        }
                    });
                    if(lazyloadImages.length == 0) {
                      document.removeEventListener("scroll", lazyload);
                      window.removeEventListener("resize", lazyload);
                      window.removeEventListener("orientationChange", lazyload);
                    }
                  }, 20);
                }

                document.addEventListener("scroll", lazyload);
                window.addEventListener("resize", lazyload);
                window.addEventListener("orientationChange", lazyload);
              }
            })
        </script>
    </body>
</html>
